{{!-- table.table-primary.text-center.bg-light.mt-3.mb-3>tr*3>th*8 --}}
<table class="table table-primary text-center bg-light mt-3 mb-3">
   <tr>
      <th class="h1 text text-danger" colspan="5">Toy Store ({{ total }})</th>
   </tr>
   <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Quantity</th>
     <th>Price</th>
           <th>Picture</th>
            <th>Action</th>
   </tr>
   {{#each toys }}
   <tr>
      <th>{{ name }}</th>
      <th>{{ brand }}</th>
      <th>{{ quantity }}</th>
      <th>${{ price }}</th>
            <th>
         <img class="zoom" src="{{ image }}">
      </th>
   </tr>
   {{/each}}
</table>
